.sub-nav-link{
    color: rgba(0,0,0,.55) !important;
    font-size: 16px;
    font-weight: 700;
    line-height: 25px;
}


/* css for about */
#about{
    background-color: #f4f6f8;
}

#about p{
    color: rgba(0,0,0,.55);
    font-size: 20px;
    line-height: 30px;
}

#about h1{
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

#about h1::after{
    content: '';
    height: 100px;
    background-image: url(/assets/img/marker.svg);
    width: 150px;
    background-repeat: no-repeat;
    position: absolute;
    right: 9px;
    bottom: -100px;
}

.about-icons i{
    margin-right: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.about-icons i:hover{
    opacity: 0.5;
    font-size: 25px;
}

/* css for btn */

#about button{
    border-radius: 30px;
    background-color: #f6e05e;
    width: 180px;
    height: 48px;
    color: black;
    font-size: 17px;
    font-weight: 700;
    transition: .4s;
}

#about button:hover{
    transform: translateY(-24px);
}