body{
    font-family:  'Nunito Sans', sans-serif !important;
}
:root{
    /* declare variable background-color gray */
    --color-bg-gray:#f4f6f8;
}

body h3{
    font-weight: 600;
}
/* css for about */
.header{
    background-color: var(--color-bg-gray);
}

.header p{
    color: rgba(0,0,0,.55);
    font-size: 20px;
    line-height: 30px;
}

.header h1{
    font-size: 40px;
    font-weight: 700;
    position: relative;
}

.header h1::after{
    content: '';
    height: 100px;
    background-image: url(/assets/img/marker.svg);
    width: 150px;
    background-repeat: no-repeat;
    position: absolute;
    right: 9px;
    bottom: -100px;
}

.header-icons i{
    margin-right: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}
.header-icons i:hover{
    opacity: 0.5;
    font-size: 25px;
}

/* css for btn */

.header button{
    background-color: #f6e05e;
    width: 180px;
    height: 48px;
    color: black;
    font-size: 17px;
    font-weight: 700;
    transition: .4s;
}

.header button:hover{
    transform: translateY(-24px);
}


/* css for Img */
.img-fuild{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    margin-left: 11%;
    cursor: pointer;
}

.col-lg-6 img:hover{
    opacity: .8;
}
